$green: #12e177;
$orange: #ffc72a;
$blue: #4c43d4;
$whitish: rgb(221, 221, 221);
body {
  padding: 0;
  margin: 0;
  font-family: 'Overlock', cursive;
  color: white;
  background: #141e30;
  background: -webkit-linear-gradient(to right, #243b55, #141e30);
  background: linear-gradient(to right, #243b55, #141e30);
}

h2 {
  margin-bottom: 3rem;
}
footer {
  width: 100%;
  text-align: center;
  background-color: white;
  color: #141e30;
  font-weight: bold;
}
p {
  margin-bottom: 0;
  margin-top: 3rem;
}
li {
  list-style-type: none;
}

li button {
  color: rgb(139, 139, 139);
}
button {
  background: transparent;
  border: none;
  outline: none;
  &:hover {
    cursor: pointer;
  }
}

.app {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-green {
  color: $green;
}

.text-orange {
  color: $orange;
}

.history-wrapper {
  text-align: center;
  bottom: 0;

  margin-bottom: 4rem;
  .history {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      font-size: 2rem;

      &:before {
        content: '';
        background-color: $green;
        transition: all 2s linear;
      }

      .btn-move {
        color: rgb(141, 141, 141);
        font-size: 1rem;
        &.active {
          font-weight: bold;
          color: $green;
        }
      }
    }
  }
}

.status-message {
  margin-bottom: 30px;
  font-size: 1.2rem;
  font-weight: lighter;
  span {
    font-weight: normal;
  }
}

.btn-reset {
  font-size: 1rem;
  color: #fff;
  border-radius: 2px;
  padding: 12px 18px;
  margin-top: 3rem;
  transition: all 0.2s;
  background-color: $blue;
  box-shadow: 0px 0px 0px 1px $orange;
  &.active {
    background-color: black;
    box-shadow: none;
  }
}

.board {
  .board-row {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid $whitish;
    &:last-child {
      border-bottom: none;
    }
    .square {
      width: 80px;
      height: 80px;
      border-right: 2px solid $whitish;
      font-size: 2.5rem;
      padding: 0;
      overflow: hidden;
      transition: all 0.2s;
      &:last-child {
        border-right: none;
      }
      &.winning {
        animation: scaleText 1.4s infinite;
        background-color: #003e62;
        @keyframes scaleText {
          0% {
            transform: 2.5rem;
          }
          50% {
            font-size: 3.5rem;
          }
          100% {
            font-size: 2.5rem;
          }
        }
      }
    }
  }
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
